<div class="test-container">
    <!-- <div class="test-column">
        @for (heads of itemService.headInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.headInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.shoulderInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.shoulderInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.neckInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.neckInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.cloakInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.cloakInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.chestInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.chestInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.bracerInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.bracerInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.handInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.handInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.waistInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.waistInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.leggingInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.leggingInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.feetInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.feetInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.ringInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.ringInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.trinketInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.trinketInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.oneHandInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.oneHandInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.offHandInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.offHandInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.twoHandInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.twoHandInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.wandInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.wandInfo[$index]" />
        }
    </div>
    <div class="test-column">
        @for (heads of itemService.enchantInfo; track $index) {
        <app-item [size]="medium" [info]="itemService.enchantInfo[$index]" />
        }
    </div> -->
</div>

<app-gear-section />
